/* @font-face {
    font-family: 'fontGame';
    src: url('./Pony.ttf');
}

.bookingMovie{
    font-family: 'fontGame';
} */


.ghe{
    border: 3px solid white;
    width: 40px;
    height: 30px;
    font-size: 12px;
    margin-left: 2%;
    margin-bottom: 1%;
    border-radius: 100% 100% 25% 25%;
}

.rowNumber{
    /* font-size: 25px; */
    width: 45px;
    height: 35px;
    background: none;
    border:none;
    margin-left: 14px;
    margin-bottom: 1%;
    font-size: 20px;
    color: white;
    
}


.screen{
    border-bottom: 50px solid rgb(184, 181, 179);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100;
    width:55%;
    filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
    font-size: 25px;
    color: #fff;
   justify-items: center;
   margin: auto;
}


.gheDuocChon {
    border: 3px solid rgb(238, 14, 145);

    background: rgb(238, 14, 145);
    color: #000;

    cursor: no-drop !important;
    border-radius: 100% 100% 25% 25%;
    width: 40px;
    height: 30px;

}

.gheDangChon {
    background: rgb(44, 248, 3);
    border: 3px solid rgb(44, 248, 3);
    color: #000;

    cursor: pointer;
    border-radius: 100% 100% 25% 25%;
    width: 40px;
    height: 30px;
background-size: cover;
}
